html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page__header {
    flex: 0 0 auto;
    position: fixed;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.page__nav {
    background: #fff;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(232px);
    transition: transform 0.25s ease-in;
    width: 232px;
    z-index: 5;
}

.open .page__nav {
    transform: translateX(0);
}

.page__main {
    flex: 1 1 auto;
    padding-top: 72px;
}

.page__footer {
    flex: 0 0 auto;
    z-index: 2;
}

.page__darker {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity .25s ease;
    width: 100%;
    z-index: 3;
}

.open .page__darker {
    opacity: 1;
    pointer-events: auto;
}

.header {
    background-color: #222;
    padding: 12px 0;
}

.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 32px);
}

.header__logo-link {
    height: 48px;
    transform: translateX(-4px);
    width: 48px;
}

.header__logo-img {
    display: block;
}

.header__actions {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.header__cart-counter {
    align-items: center;
    background: #F16D7F;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 16px;
    justify-content: center;
    line-height: 125%;
    padding: 0.5px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -4px;
    width: 16px;
}

.header__item {
    position: relative;
}

.header__item_hidden {
    display: none;
}

.header__burger {
    margin-left: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav__header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 16px 20px 32px;
    width: 232px;
}

.nav__title {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
}

.nav__close {
    height: 32px;
    width: 32px;
}

.nav__main {
    height: 100%;
    overflow-y: auto;
    padding: 24px 32px 40px;
}

.nav__content {
    display: grid;
    gap: 40px;
}

.nav__subtitle {
    display: grid;
    font-size: 14px;
    gap: 12px;
    line-height: 1.15;
}

.nav__subtitle-link {
    color: #f16d7f;
    text-decoration: none;
    text-transform: uppercase;
    justify-self: start;
}

.nav__items {
    padding-left: 24px;
}

.nav__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
}

.nav__item-link {
    text-decoration: none;
    color: #868686;
}

.nav__item + .nav__item {
    padding-top: 12px;
}

.footer {
    background-color: #222;
    padding: 32px 0;
}

.footer__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.socials {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials__item {
    background-color: #fff;
    height: 32px;
    width: 32px;
}

.socials__item-link {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 4px;
    width: 100%;
}

.socials__item-link:hover,
.socials__item-link:active {
    background-color: #f16d7f;
    fill: #fff;
}

.footer__rights {
    color: #fff;
    font-size: 16px;
}

@media (min-width: 600px) {
    .header__item_hidden {
        display: block;
    }

    .footer__inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 auto;
        width: calc(100% - 48px);
    }
}

@media (min-width: 1280px) {
    .header__inner {
        width: 1216px;
    }

    .footer__inner {
        width: 1216px;
    }
}
