html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page__header {
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.page__nav {
    z-index: 20;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 232px;
    height: 100vh;
    /*transition: transform 0.25s ease-in;
    transform: translateX(232px);*/
    visibility: hidden;
    transition: visibility 0s 0.6s, opacity 0.6s ease; /* при закрытии окна навигации, сначала плавно понижается непрозрачность - opacity: 0; затем мгновенно исчезает через 0.6s ожидания - visibility: hidden; */
    opacity: 0;
    overflow: hidden;
}

.open .page__nav {
    /*transform: translateX(0);*/
    transition: visibility 0s 0s, opacity 0.6s ease; /* при открытии окна навигации, оно сначала мгновенно появляется - visibility: visible;, затем плавно повышается непрозрачность - opacity: 1; */
    opacity: 1;
    visibility: visible;
}

.page__main {
    padding-top: 72px;
    flex: 1 1 auto;
}

.page__footer {
    flex: 0 0 auto;
}

.header {
    background-color: #222;
    padding: 12px 0;
}

.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 32px);
}

.header__logo-link {
    height: 48px;
    transform: translateX(-4px);
    width: 48px;
}

.header__logo-img {
    display: block;
}

.header__actions {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.header__burger {
    margin-left: 40px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    position: absolute;
    width: 232px;
    box-sizing: border-box;
}

.nav__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #222222;
}

.nav__close {
    width: 32px;
    height: 32px;
}

.nav__main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-top: 72px;
}

.nav__content {
    padding: 24px 33px;
}

.nav__subtitle {
    font-size: 14px;
    line-height: 1.15;
}

.nav__subtitle-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #f16d7f;
}

.nav__items {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 40px;
}

.nav__item {
    font-weight: 400;
font-size: 14px;
line-height: 1.15;
color: #868686;
}

.nav__item + .nav__item {
    padding-top: 12px;
}

.footer {
    background-color: #222;
    padding: 32px 0;
}

.footer__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.socials {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials__item {
    background-color: #fff;
    height: 32px;
    width: 32px;
}

.socials__item-link {
    display: block;
    height: 100%;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.socials__item-link:hover,
.socials__item-link:active {
    background-color: #f16d7f;
    fill: #fff;
}

.footer__rights {
    color: #fff;
    font-size: 16px;
}