.catalog-tile {
    background: var(--light-primary);
}
.catalog-tile__item {
    align-items: center;
    aspect-ratio: 1.322/1;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}
.catalog-tile__item:hover,
.catalog-tile__item:active {
    border-radius: 5px;
    box-shadow: 2px 2px 15px var(--dark-70p);
    transform: scale(1.02);
    /*background: linear-gradient(0deg, rgba(34, 34, 34, 0.5));*/
}
.catalog-tile__item + .catalog-tile__item {
    margin-top: 16px;
}
@media (min-width: 768px) {
    .catalog-tile__item {
        aspect-ratio: 1.446/1;
    }
}
.catalog-tile__inner {
    padding: 64px 0;
}
@media (min-width: 768px) {
    .catalog-tile__inner {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
    .catalog-tile__item + .catalog-tile__item {
        margin-top: 0;
    }
}
.catalog-tile_women  {
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../../img/banners-girl.jpg") no-repeat center;
    background-size: cover, cover;
}
.catalog-tile_men  {
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../../img/banners-men.jpg") no-repeat center;
    background-size: cover, cover;
}
.catalog-tile_kid  {
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../../img/banners-kid.jpg") no-repeat center;
    background-size: cover, cover;
}
.catalog-tile_accesories  {
    aspect-ratio: 2.733/1;
    background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../../img/banners-acsessories.jpg") no-repeat center;
    background-size: cover, cover;
    grid-column: 1/4;
}
@media (min-width: 768px) {
    .catalog-tile_accesories {
        aspect-ratio: 6.133/1;
    }
}
.catalod-tile__subtitle {
    color: var(--light-primary);
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
}
.catalod-tile__title {
    color: var(--brand-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-top: 4px;
}