.footer {
    background: var(--dark-primary);;
    padding: 32px 0;
}
.footer__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer__rights {
    color: var(--light-primary);
    font-size: 16px;
}
@media (min-width: 600px) {
    .footer__inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 auto;
        width: calc(100% - 48px);
    }
}
@media (min-width: 1024px) {
    .footer__inner {
        width: calc(100% - 128px);
    }
}