.footer {
    background-color: #222;
    padding: 32px 0;
}
.footer__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer__rights {
    color: #fff;
    font-size: 16px;
}
@media (min-width: 600px) {
    .footer__inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 auto;
        width: calc(100% - 48px);
    }
}
@media (min-width: 1280px) {
    .footer__inner {
        width: 1216px;
    }
}