.goods {
    background: var(--light-primary);
}
.goods__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 0;
    text-align: center;
}
.goods__header {
    text-align: center;
}
.goods__grid {
    display: grid;
    gap: 16px;
    margin-top: 32px;
}
@media (min-width: 768px) {
    .goods__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1280px) {
    .goods__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

.goods__button {
    background: transparent;
    background-image: linear-gradient(45deg, var(--brand-secondary), var(--brand-primary) 50%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    border: var(--brand-primary) 1px solid;
    box-sizing: border-box;
    color: var(--brand-primary);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 32px auto 0;
    padding: 16px 4px;
    text-transform: capitalize;
    transition: background 0.5s ease-in-out;
    width: 214px;
}
.goods__button:hover {
    background-position: 0;
    border-radius: 20px;
    color: var(--dark-70p);
    transition: 0.5s;
}
.goods__button:active,
.goods__button:focus {
    background: var(--buttons);
    border-radius: 20px;
    color: var(--dark-70p);
}