.header {
    background: var(--dark-primary);;
    padding: 12px 0;
}
.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 32px);
}
.header__logo-link {
    height: 48px;
    transform: translateX(-4px);
    width: 48px;
}
.header__logo-img {
    display: block;
    transition: 0.3s ease-in-out;
}
.header__logo-img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.header__actions {
    display: flex;
    gap: 24px;
    margin-left: auto;
}
.header__cart-counter {
    align-items: center;
    background: var(--brand-primary);
    border-radius: 8px;
    color: var(--light-primary);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 16px;
    justify-content: center;
    line-height: 125%;
    padding: 0.5px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -4px;
    width: 16px;
}
.header__item:hover div,
.header__item:focus div {
    background: var(--light-primary);
    color: var(--dark-70p);
    transform: scale(1.15);
}
.header__item {
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease-in-out, color 0.5s ease-in-out;
}
.header__item:hover,
.header__item:focus,
.header__burger:hover,
.header__burger:focus {
    background: var(--brand-primary);
    transform: scale(1.15);
    transition: 0.3s ease-in-out, color 0.5s ease-in-out;
}
.header__item:active,
.header__burger:active {
    transform: translateY(-3px);
    transition: 0.1s;
}
.header__item_hidden {
    display: none;
}
.header__burger {
    border-radius: 10px;
    margin-left: 40px;
    transition: 0.3s ease-in-out, color 0.5s ease-in-out;
}
@media (min-width: 768px) {
    .header__item_hidden {
        display: block;
    }
}
@media (min-width: 1280px) {
    .header__inner {
        width: calc(100% - 128px);
    }
}
