.hero {
    background: #f1d9dd;;
}
.hero__inner {
    padding: 256px 0 40px 16px;
}
.hero__text {
    border-left: 12px solid #F16D7F;
    color: #222;
    font-weight: 700;
    padding-left: 12px;
    text-transform: uppercase;
    display: grid;
    gap: 4px;
}
.hero__title {
    font-size: 40px;
}
.hero__subtitle {
    font-size: 20px;
}
.hero__subtitle_color {
    color: #f16d7f;
}