.product-tile {
    text-decoration: none;
    display: block;
}
.product-tile__miniature {
    height: 400px;
    position: relative;
}
.product-tile__button {
    align-items: center;
    background: transparent;
    border: var(--light-primary) 1px solid;
    cursor: pointer;
    display: flex;
    padding: 8px 20px 8px 16px;
    position: absolute;
}
.product-tile__darker {
    align-items: center;
    background: rgba(34, 34, 34, 0.7);
    cursor: default;
    display: none;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.product-tile:hover .product-tile__darker {
    display: flex;
}
.product-tile__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.product-tile__info {
    background: var(--light-secondary);
    display: grid;
    gap: 16px;
    padding: 24px 16px;
}
.product-tile__name {
    color: var(--dark-primary);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.product-tile__description {
    color: var(--dark-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
}
.product-tile__price {
    color: var(--brand-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}