.subscribe {
    background-position: 55% 50%;
    background-size: cover, cover;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../../img/subscribe__bg.png");
    object-fit: cover;
    padding: 64px 0 80px;
}
@media (min-width: 768px) {
    .subscribe {
        background-position: 25% 50%;
    }
}
@media (min-width: 1280px) {
    .subscribe {
        background-position: 55% 50%;
        height: 496px;
    }
    .subscribe .container {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
.subscribe__grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 768px) {
    .subscribe__grid {
        flex-direction: row;
        justify-content: space-around;
    }
}
.subscribe__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.subscribe__text-title {
    color: var(--dark-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
}
.subscribe__text-subtitle {
    color: var(--dark-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
    margin: 4px 0 48px;
    text-align: center;
    text-transform: uppercase;
}
.subscribe__form {
    background: var(--light-primary);
    border-radius: 24px;
    display: flex;
    margin: 0 auto;
    width: 328px;
}
.subscribe__input {
    align-items: center;
    background: var(--light-primary);
    border-radius: 24px 0 0 24px;
    border: none;
    color: var(--dark-primary);
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 17px;
    opacity: 0.67;
    padding-left: 28px;
    width: 236px;
}
.subscribe__button {
    align-items: center;
    background: var(--brand-primary);
    border-radius: 0 24px 24px 0;
    border: none;
    color: var(--light-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    text-align: center;
    width: 92px;
}